body {
    background-color: #ccc3da;
    text-align: center;
    color: #0C132A;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    color: #00A;
    text-decoration: none;
}

a:hover {
    color: #58587d;
    text-decoration: underline;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.welcome {
    text-align: center;
}
h2 {
    text-align: center;
}
img {
    width: 100%;
}
figure {
    text-align: center;
    font-style: italic;
}
ul {
    text-align: left;
    align-items: left;
    
}
main p{
    text-align: left;
}

/* For Laptops */
@media screen and (min-width: 981px) {
    body {
        background-color: #ccc3da;
    }
}

/* For Tablets */
@media screen and (min-width: 601px) and (max-width: 980px) {
    main {
        font-size: 1rem;
    }
    ul {
        padding-left: 1rem;
    }
}

/* For Mobile Devices */
@media screen and (max-width: 600px) {
    main {
        font-size: 0.95rem;
        padding: 0.5rem;
    }
    h2 {
        font-size: 0.95rem;
        padding-left: 1rem;
    }
}