body {
    background-color: #ccc3da;
    text-align: center;
    color: #0C132A;
    font-family: system-ui, -apple-system;
    /*font-family: font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;*/
}
a {
    color: #00A;
    text-decoration: none;
}

a:hover {
    color: #58587d;
    text-decoration: line;
}

main {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}
.welcome {
    text-align: center;
}
h2 {
    text-align: Center
}
img {
    width: 100%;
}
figure {
    text-align: center;
    font-style: italic;
}
ul {
    text-align: left;
    align-items: left;
    
}
main p{
    text-align: left;
}
