body{
    font-family: "Moderustic", serif;
    background-color: #e3e6df;
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 {
    color: #404152;
}
header {
    color: #404152;
}
nav > a {
    color: #ff9eb8;
}
main {
    color: #414747;
    font-size: 18px;
}
main > 