<p><strong>Nit Picky Confections</strong></p>
<p>Zebulon, NC</p>

<p>Follow Us on <a href="https://www.instagram.com/nitpickyconfections?igsh=MXM1cXp3MDQyMHZkNw==">Instagram</a></p>

<p>
  <a href="mailto:Info@nitpickyconfections.com">Info@nitpickyconfections.com</a>
</p>
<p id="armstrongenterprises">Page Designed by <a href="armstrongenterprises.co/index.html">Armstrong Enterprises</a> &copy; 2025<br>
  <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
    <img style="border:0;width:88px;height:31px" src="https://mytienhoang.github.io/itis3135/z_archives/html_validation.png" alt="Valid HTML!">
  </a>
  <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
    <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid CSS!">
  </a>
</p>
