/* I used a seperate stylesheet to miniize confusion and find errors quickly */
:root {
    --background: #fff8f4;
    --cream: #fff8d6;
    --yellow: #f6d329;
    --light-pink: #f3e2d3;
    --muave: #e7a6ab;
    --brown-pink: #c28879;
    --vivid-pink: #c21870;
    --neutral-pink: #b03a63;
    --brown: #5c3a2e;
    --black: #241611;
} 

.banner img {
    height: 120px; 
    width: auto; 
    display: inline-block;
    vertical-align: middle;
    margin-left: 13%;
    border-radius: 6px;
}
.banner {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    padding: 1rem 2rem;
    height: 150px; 
    background-color: var(--vivid-pink);
    width: 100%;
}
  
.banner nav a {
    font-family: 'Noto Serif', serif;
    margin: 0 30px; 
    text-decoration: none;
    font-size: 30px;
    color: var(--cream); 
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
    max-width: 1280px;
}

h2 {
    text-align: center;
    color: var(--vivid-pink);
    font-family: 'Noto Serif', serif;
    font-size: 40px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-pink);
    border-radius: 8px;
    padding: 20px;
    background-color: var(--muave);
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    margin-bottom: 60px;
}

main {
    border-bottom: 3px solid var(--vivid-pink);
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    margin-top: 20px;
    padding: 12px;
    background-color: var(--brown);
    color: var(--background);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--neutral-pink);
}

.thank-you {
    display: none;
    text-align: center;
    color: green;
    margin-top: 20px;
    font-size: 18px;
}

.error {
    color: red;
    font-size: 13px;
}

footer {
    padding: 20px;
    margin-top: 20px;
}
footer p {
    color: var(--black);
    font-size: 18px;
}
footer a{
    color: var(--vivid-pink);
}
footer a:hover{
    color: var(--brown);
}

#armstrongenterprises{
    text-align: center;
}
#validation_link_html, #validation_link_css {
    display: inline-block;
    margin-top: 20px;
}